<h1>Cart</h1>
<p>Your total is £<%= @cart.total %></p>

<% @cart.orderables.each do |orderable| %>
  <% product = orderable.product %>
  <p><%= product.name %> x <%= orderable.quantity %> -> £<%= product.price * orderable.quantity %></p>
<% end %>
