
<nav class="navbar navbar-expand-lg text-center navbar-fixed-top navbar-center">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav shadow-lg">
        <li class="nav-item">
          <a class="navbar-brand " href="#">
            <img src="assets/navbar/navlogo.png" alt="Bootstrap" width="160" height="70" class="navlogo">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" href="#">Summer '23'</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" href="#">Mens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" href="#">Womens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" href="#">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" href="#">SALE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white;" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

