body, html{
    background: url("https://images.mansionglobal.com//im-447696") no-repeat;
    /*background-color: #fff;*/
    background-size: cover;
    color: white;
}
.navbar-nav, .navbar-brand {
    color: white;
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.navbar{
    background-color: transparent;
}
.navbar-nav{
    background: rgba(0, 0, 0, 0.1);
    padding: 0 2rem 0;
    border-radius: 20px;
}
.navlogo{
  filter: invert(0);  
}

