<%= stylesheet_link_tag "product" %>

<p style="color: green"><%= notice %></p>

<section class="productsection p-3">
  <p class="position">Home / Products</p>
  <h1 class="productheader">New Releases & Product Drops</h1>
</section>

<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iH39ixQXQMnQ/v0/-1x-1.jpg" class="d-block w-100 h-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.worldatlas.com/upload/4a/c4/f1/shutterstock-360941786.jpg" class="d-block w-100 h-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.russiadiscovery.com/upload/files/ural-expediciya-na-polyarnyi-ural-2_1615462641_1623406107.jpg" class="d-block w-100 h-50" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="productflexcontainer">

</div>


<% if user_signed_in? %>
  <%= link_to "New product", new_product_path %>
<% end %>
